.custom-card {
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.custom-card-header {
    background-color: #f3a9a9;
    color: #4b4b4b;
    font-weight: 700;
}

.custom-pagination .page-item .page-link {
    color: #777;
    border-color: #e0e0e0;
}
.custom-pagination .page-item.active .page-link {
    background-color: #e77a7a;
    border-color: #e77a7a;
    color: white;
}
.custom-pagination .page-item .page-link:hover {
    background-color: #f8f9fa;
}
.custom-pagination .page-item.active .page-link:hover {
    background-color: #e77a7a;
}


.btn.btn-tag-active {
    background-color: #e77a7a; 
    border-color: #e77a7a;     
    color: white;              
}

.btn.btn-tag-active:hover {
    background-color: #d66a6a; 
    border-color: #d66a6a;
    color: white;
}